@model IEnumerable<Simple_Ajax_PagedList_And_Search_Mvc5.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    Find by name: <input id="SearchString" name="SearchString" type="text" value="" />
    <input type="button" value="Search" id="btnSearch" />
</p>
<div id="ProductList">
    @Html.Partial("ProductList", Model)

</div>

@section scripts
{

    <script type="text/javascript">
        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(obj, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }
        function search() {
            $.ajax({
                url: "/Home/Index?searchString=" + $('#SearchString').val(),
                success: function (result) {
                    ChangeUrl("index", "/Home/Index?searchString=" + $('#SearchString').val());
                    $('#ProductList').html(result);
                }
            });
        }

        $(function () {
            $("#btnSearch").click(function () {
                search();
            });

            $("#SearchString").keypress(function (e) {
                if (e.keyCode == 13) {
                    search();
                }
            });
            $('body').on('click', '#ProductList .pagination a', function (event) {
                event.preventDefault();
                console.log('page');
                var searchString = $('#SearchString').val();
                if (searchString == undefined || searchString == '') {
                    searchString = '';
                } else {
                    searchString = '&searchString=' + searchString;
                }
                var url = $(this).attr('href')+searchString;
                console.log(url);
                $.ajax({
                    url:url,
                    success: function (result) {
                        //ChangeUrl('index', url);
                        $('#ProductList').html(result);
                    }
                });
            });

        });

    </script>


}