@model IEnumerable<Simple_Ajax_PagedList_And_Search_Mvc5.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>


<p>
    Find by name: <input id="SearchString" name="SearchString" type="text" value="" />
    <input type="button" value="Search" id="btnSearch" />
</p>
<div id="ProductList">
    @Html.Partial("ProductList", Model)

</div>

@section scripts
{

    <script type="text/javascript">
        // Adding popstate event listener to handle browser back button  
        window.addEventListener("popstate", function (e) {
            $.ajax({
                url: location.href,
                success: function (result) {
                    $('#ProductList').html(result);
                }
            });
        });

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function search() {
            $.ajax({
                url: "/Home/Index?searchString=" + $('#SearchString').val(),
                success: function(result) {
                    ChangeUrl("index", "/Home/Index?searchString=" + $('#SearchString').val());
                    $('#ProductList').html(result);
                }
            });
        }

        $(function() {
            $("#btnSearch").click(function() {
                search();
            });

            $("#SearchString").keypress(function(e) {
                if (e.keyCode == 13) {
                    search();
                }
            });
            $('body').on('click', '#ProductList .pagination a', function(event) {
                event.preventDefault();
                console.log('page');
                var searchString = $('#SearchString').val();
                if (searchString == undefined || searchString == '') {
                    searchString = '';
                } else {
                    searchString = '&searchString=' + searchString;
                }
                var url = $(this).attr('href') + searchString;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function(result) {
                        ChangeUrl('index', url);
                        $('#ProductList').html(result);
                    }
                });
            });


            $('body').on('click', '#ProductList .table a', function(event) {

                event.preventDefault();

                var searchString = $('#SearchString').val();
                if (searchString == undefined || searchString == '') {
                    searchString = '';
                } else {
                    searchString = '&searchString=' + searchString;
                }

                var columnToSort = $(this).text();
                var currentSortOption = getUrlVars()['sortOption'];
                console.log(currentSortOption);
                var sort;
                switch (currentSortOption) {
                case "name_acs":
                    sort = 'sortOption=name_desc';
                    break;
                case "name_desc":
                    sort = 'sortOption=name_acs';
                    break;
                case "price_acs":
                    sort = 'sortOption=price_desc';
                    break;
                case "price_desc":
                    sort = 'sortOption=price_acs';
                    break;
                case "qty_acs":
                    sort = 'sortOption=qty_desc';
                    break;
                case "qty_desc":
                    sort = 'sortOption=qty_acs';
                    break;
                default:
                    sort = '';
                    break;
                }


                switch (columnToSort) {
                case 'Name':
                    if (currentSortOption != 'name_acs' && currentSortOption != 'name_desc') {
                        sort = 'sortOption=name_acs';
                    }
                    break;
                case 'Price':
                    if (currentSortOption != 'price_acs' && currentSortOption != 'price_desc') {
                        sort = 'sortOption=price_acs';
                    }
                    break;
                case 'Qty':
                    if (currentSortOption != 'qty_acs' && currentSortOption != 'qty_decs') {
                        sort = 'sortOption=qty_acs';
                    }
                    break;
                default:
                    sort = '';
                    break;

                }
                if (sort != '' & searchString != '') {
                    sort = '&' + sort;
                }
                var url = '/Home/Index?' + searchString + sort;
                $.ajax({
                    url: url,
                    success: function(result) {
                        ChangeUrl('index', url);
                        $('#ProductList').html(result);
                    }
                });
            });

        });

    </script>


}